<launch>

<arg name="image_view" default="/camera/depth_registered/disparity"/>

<node name="vision_master" pkg="poe_vision" type="vision_master.py" />
<node name="pointcontrol" pkg="poe_kinect" type="detectfinger" />

<node name="disparity_visualizer" pkg="image_view" type="disparity_view" args="image:=/camera/depth_registered/disparity"/>

</launch>
